  @import "./common.css";
@import "./footer.css";
@import "./header.css";

.boox {
  display: flex;
  justify-content: center;
}
.sar p {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  margin-top: 330px;
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #265a6a;
}

.sar h1 {
  display: flex;
  width: 510px;
  height: 120px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: #08546c;
}
/* 2 */
.bor-box {
  display: flex;
  justify-content: space-evenly;
}

.imgb img {
  padding: 20px 20px;
  margin-bottom: 15px;
  border: 2px;
  border-radius: 50px;
  background: #f5fbfc;
}

.bor {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding: 15px 30px;
  width: 273px;
  height: 251px;
  background: #ffffff;
  box-shadow: 0px 41.7776px 33.4221px rgba(0  , 0, 0, 0.0503198);
}

.imgb h3 {
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0f1221;
}

.bor p {
  width: 215px;
  height: 73px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #696969;
}
/* section */

.bor2 {
  margin-top: 80px;
  display: flex;
  padding: 10px 30px;
  width: 273px;
  height: 251px;
  background: #ffffff;
  box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
}

.imgb2 img {
  margin-top: 9px;
  margin-bottom: 25px;
  border: 2px;
  border-radius: 50px;
}

.imgb2 h3 {
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color:  #0f1221;
}

.bor2 p {
  width: 215px;
  height: 73px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #696969;
}

/* main-main   */
.cont {
  display: flex;
  margin-top: 60px;
  gap: 140px;
}
.my h1 {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
  color: #08546c;
}

.my p {
  margin: 10px 0px 0px 300px;
  display: flex;
  height: 58px;
  width: 569px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #757575;
}


/* img-box */

.meyn h3 {
  margin-top: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 29px;
  color: #08546c;
}
.meyn p {
  margin-top: 10px;
  width: 426px;
  height: 77px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
}

.meyn h6 {
  display: flex;
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #08546c;
}
.cont2 {
  display: flex;
  gap: 140px;
  margin-top: 50px;
}
.cont2 img {
  margin-top: 70px;
}
.cont2 h6 {
  margin-bottom: 200px;
}
/* new section */
.foco {
  display: flex;
  justify-content: space-between;
}

.bek {
  background-image:url(../images/bj.png) ;
  background-color: #08546c;
}

.foot img {
  margin: 102px -90px;
}
.contnt img {
  margin-top: 219px;
}
.contnt p {
  width: 585px;
  height:151px;
  margin-top: 33px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.contnt h6 {
  margin-top: 33px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #aabfc6;
}


@media (max-width: 1200px) {
  .bor-box {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width:1200px) {
  .cont,.cont2,.my {
    flex-direction: column;
    align-items: center;
   
  }
}